{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Twitter Clone Web Application
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <h1>Twitter Clone Web Application</h1>
    </header>
    <section>
      <div class="welcome">
        <h1>
          {% block welcome %}
            Twitter Clone Web Application へようこそ！
          {% endblock %}
        </h1>
        <p>
          {% block log %}
          {% if user.is_authenticated is True %}
            <a href="{% url 'tclone:logout' %}"><b>ログアウト</b></a>
          {% else %}
            <b><a href="{% url 'tclone:login' %}">ログイン</a></b>
          {% endif %}
          {% endblock %}
        </p>
      </div>
      <div class='body'>
        {% block content %}{% endblock %}
      </div>
    </section>
    <footer>

    </footer>
  </body>
</html>
