{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Twitter Clone Web Application
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}">
    <style type="text/css">

    </style>
  </head>
  <body>
    <header>
      <h1>Twitter Clone Web Application</h1>
    </header>
    <section>
      <div class="welcome">
        <h1>
          {% block welcome %}
            Twitter Clone Web Application へようこそ！
          {% endblock %}
        </h1>
        <p>
          {% block log %}
          {% if user.is_authenticated %}
            <a href="{% url 'tclone:home' %}">ホーム</a>
            /
            <a href="{% url 'tclone:logout' %}"><em>ログアウト</em></a>
          {% else %}
            <a href="{% url 'tclone:login' %}"><em>ログイン</em></a>
          {% endif %}
          {% endblock %}
        </p>
      </div>
      <div class='body'>
        {% block content %}
        <div class="tweet">
          {% block tweet %}
          {% endblock %}
        </div>
        <div class="timeline">
          {% block timeline %}
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </section>
    <footer>

    </footer>
  </body>
</html>
