{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Twitter Clone Web Application
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <h1>Twitter Clone Web Application</h1>
    </header>
    <section>
      <div class="welcome">
        {% block welcome %}
          <h1>Twitter Clone Application へようこそ！</h1>
        {% endblock %}
      </div>
      <div class='body'>
        {% block content %}{% endblock %}
      </div>
    </section>
    <footer>
       
    </footer>
  </body>
</html>
