{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Twitter Clone Web Application
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}">
  </head>
  <body>
    <header>
      <h1>Twitter Clone Web Application</h1>
    </header>
    <section>
      <div class="subhead">
        <h1>
          {% block subhead %}
            {{ user }} でログインしています
          {% endblock %}
        </h1>
        <p>
          {% block log %}
          {% if user.is_authenticated %}
            <a href="{% url 'tweet:home' %}">{{ user }} のホーム</a>
            /
            <a href="{% url 'tclone:logout' %}"><em>ログアウト</em></a>
          {% else %}
            <a href="{% url 'tclone:login' %}"><em>ログイン</em></a>
          {% endif %}
          {% endblock %}
        </p>
      </div>
      <div class='body'>
        {% block content %}
        {% endblock %}
      </div>
    </section>
    <footer>

    </footer>
  </body>
</html>
