{% extends "tweet/base.html" %}
{% block title %}Tweet by {{ tweet.user }}-{{ block.super }}{% endblock %}
{% block content %}
  <p><a href="{% url 'tweet:profile' pk=tweet.user.pk %}">{{ tweet.user }}</a></p>
  <p>{{ tweet.tweet }}</p>
  {% if request.user.id == tweet.user.id %}
    <form class="delete_confirm" action="{% url 'tweet:tdelete' tweet.pk %}" method="post">
      {% csrf_token %}
      <a href="{% url 'tweet:tedit' pk=tweet.pk %}">編集</a> /
      <button type="submit" onclick='return confirm("削除しますか？");'>削除</button>
    </form>
  {% endif %}
  <p>
    お気に入り登録
<form name='follow' action="{% url 'tweet:favorite' pk=tweet.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">☆</button>
</form>
    お気に入り解除→<a href="{% url 'tweet:fdelete' pk=tweet.pk %}">★</a>
  </p>
{% endblock %}
